* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background-color: #212121;
    z-index: 1;
}

.container {
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 13px 70px;
    list-style-type: none;
} 

.menu_link {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
} 

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader_officel {
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader_phone {
    display: block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    text-decoration: none;

}

.subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.promo {
    min-height: 728px;
    background: url(../img/promo.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.promo_subheader {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;

}

.promo_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.causes {
    min-height: 900px;
    padding: 71px 0 68px 0;
}

.causes_advantages {
    margin: 0 auto;
    padding-top: 4px;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.causes_header {
    margin-top: 38px;
    margin-bottom: 0;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.causes_item {
    display: flex;
    margin-top: 35px;
    min-height: 141px;
    justify-content: center;
    align-items: center;

}

.causes_round {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.causes_descr {
    width: 370px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.causes_span {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}